<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./header.ejs") %>
    <br>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <% results.forEach(x => { %>
                <div class="card" style="background-color: #18181b; border: none;">
                    <div class="card-body">
                        <h4><%= x.baslik %> </h4>
                    <hr>
                            <div class="card" style="background-color: #27272a; border: none;">
                                <div class="card-body">
                                    <small><%= x.konu %></small>
                                    <p class="text-end">( <%= x.kullanici %> )</p>
                                </div>
                            </div>
                            <% yorum.forEach(yorum => { %>
                                <br>
                                <div class="card" style="background-color: #27272a; border: none;">
                                    <div class="card-body">
                                        <small><%= yorum.yorum %></small>
                                        <p class="text-end">( <%= yorum.kullanici %> )</p>
                                    </div>
                                </div>    
                            <% }) %> 
                            <br>
                            <div class="d-grid gap-2">
                                <button type="button" style="background-color: #27272a; color: #fff; box-shadow: none; border: none;" class="btn" data-bs-toggle="modal" data-bs-target="#yorum">
                                    <i class="fa-regular fa-comment"></i> Yorum yap
                                </button>    
                                <div class="modal fade" id="yorum">
                                    <div class="modal-dialog" style="background-color: #18181b;">
                                      <div class="modal-content" style="background-color: #18181b;">
                                          <div class="card" style="background-color: transparent; border: none;">
                                            <div class="card-body">
                                                <div class="container-fluid">
                                                    <div class="row justify-content-center">
                                                        <div class="container">
                                                            <h4><i class="fa-regular fa-comment"></i> Yorum yap</h4>
                                                            <hr>
                                                            <form action="/konu/<%= x._id %>" method="post" id="yorum">
                                                                <input name="kullanici" type="text" class="form-control" style="background-color: #27272a; color: #fff; box-shadow: none; border: none;" placeholder="Kullanıcı adı">
                                                            <br>
                                                            <textarea name="yorum" placeholder="Yorum..." rows="5" class="form-control" style="background-color: #27272a; color: #fff; box-shadow: none; border: none; resize: none;"></textarea>
                                                            <br>
                                                        </div>
                                                        <div class="col">
                                                            <div class="d-grid gap-2">
                                                            <button type="submit" style="background-color: #27272a; color: #fff; box-shadow: none; border: none;" class="btn">
                                                                <i class="fa-regular fa-comment"></i> Yorum yap
                                                            </button>
                                                            </div>
                                                        </div>
                                                            </form>
                                                        <div class="col">
                                                            <div class="d-grid gap-2">
                                                            <button data-bs-dismiss="modal" type="button" style="background-color: #27272a; color: #fff; box-shadow: none; border: none;" class="btn">
                                                                <i class="fa-solid fa-xmark"></i> Kapat
                                                            </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                        </div>
                    </div>
                </div>    
            <% }) %> 
        </div>
        <div class="col-lg-4">
            <div class="card" style="background-color: #18181b; border: none;">
                <div class="card-body">
                    <h4>En son konular</h4>
                    <hr>
                    <% comments.forEach(x => { %>
                        <a href="/konu/<%= x._id %> ">
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6><%= x.baslik %> </h6>
                            </div>
                        </div>
                    </a> 
                    <br>   
                    <% }) %> 
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#yorum').submit(function () {
            $(this).ajaxSubmit({
                error: function (xhr) {
                    $('#result').text('Error: ' + xhr.status);
                },
                success: function (response) {
                    $('#result').text(response.message);
                }
            });
            //Very important line, it disable the page refresh.
            return false;
        });
    });

</script>